#leftside {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftside img {
    height: 70%;
}

#rightside {
    height: 100%;
    width: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#name {
    display:flex;
    align-items:center;
    gap: 10px;
}

#block{
    display:block;
    justify-items:center;
    margin:20px;
    padding: 10px;
}

#moreBtn {
    font-size:20px;
    text-decoration:none;
    color:white;
    background-color:black;
    border-radius:50px;
    padding:10px;
    font-style:bold;
    transition:0.4s ease;
}

#moreBtn:hover {
    color:black;
    background-color:white;
}

body{
    overflow-y:hidden;
    display:flex;
    height:100%;
    font-family: "ta-marugo-gf-04", sans-serif;
    font-weight: 300;
    font-style: bold;
}

html{
    height:100%;
}

@media (max-width: 768px) {
    #leftside{
        height:70%;
    }
    #rightside{
        height:30%;
    }

    #leftside img {
        margin: 100px;
        height:70%;
    }

    body {
        display:block;
        justify-items:center;
    }
}
